/*
*****************************

author：hexi
time: 2018/05
function:登录表单主页面 CSS结构

*****************************
*/
*{
	box-sizing: border-box;
}
body
{

	color: white;
	position: absolute;
	width: 100%;
	height:100%;
	font-size: 15px;
	color: white;
	background-image: url('../image/hill.jpg');
}
#container {
	background-color: rgba(0,0,0,0.2);
	/*边框图片及宽度设定*/
	border: 5px solid;
	border-image: url('../image/hill.jpg') 30 30 ;
}
.forgetPwd{
			color: yellow;
		}

header{
	width: 100%;
}
/*页脚文字位置的设置*/
form{
	color: white;
}
/*114标志大小及位置设置*/
.HeadSign img{
	width: 40px;
	height: 50px;
}
.HeadSign {
	text-align: center;
}

a{
	text-decoration: none;
}
input{
	border-radius: 1em;
}
footer
{
	color: white;
	text-align: center;
}
#LoginNow input{
	background-color: #0068b7;
	border: 0px;
}
#RolesChoice{
	text-align: center;
	padding:0px 5px 5px 10px;
}
/*超小屏幕 视口 手机*/
@media screen and (max-width: 768px) {
	body{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		font-size: 2em;
		color: white;
		background-color: rgba(255,255,255,0.5);
	}
	#container
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		width: 80%;
		margin: 2em;
		padding: 1em;
	}
	#LoginNow input{
		text-align: center;
		width: 50%;
		margin-left: 3em;
		margin-bottom: 0.5em;
	}
	footer{
		/*text-align: center;*/
		margin-left: 6em;
	}

}
/*小屏幕视口 平板*/
@media screen and (min-width: 769px) 
{
	body{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 2.4em;
	}
	dt{
	width: 150px;
	text-align: right;
	}
	dd,dt,.forgetPwd{
		display: inline-block;
		/*margin: 0px;*/
	}
	#LoginNow input
	{
		background-color: #0068b7;
		border:0px;
		height: 2em;
	}
	#LoginNow
	{
		text-align: center;
		margin-bottom: 1em;
	}
	
}


